[package]
name = "server"
version = "0.1.0"
edition.workspace = true

[dependencies]
error = { path = "../error" }
net = { path = "../net" }

thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
