[package]
name = "server"
version = "0.0.1"
edition = "2024"
license = "MIT"

[dependencies]
error = { path = "../error" }
net = { path = "../net" }

thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[lib]
path = "src/lib.rs"
name = "server"
